body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #010058);
  text-align: center;
}

.logo {
    margin-top: 40px;
    width: 100px;       
    height: 100px;
}

h1 {
  margin-top: 60px;
  font-size: 50px;
  font-family: "Libre Baskerville", serif;
  color: #00ffff;
}

p {
  color: #ffffff;
  margin-bottom: 20px;
  font-family: "Libre Baskerville", serif;
  font-size: 17px;
}

.status {
  display: inline-flex;
  align-items: center;
  background: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  margin-top: 50px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #4caf50;
  border-radius: 50%;
  margin-right: 8px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 80px;
}

.card {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  padding: 20px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  text-align: left;
  position: relative;
}

.card span {
  font-size: 2rem;
  display: block;
  margin-top: 10px;
}

.temp {
  background: linear-gradient(135deg, #d4d102, #d4d102);
}

.umid {
  background: linear-gradient(135deg, #2196f3, #2c69a5);
}

.sensacao {
    background: linear-gradient(135deg, #eb0404, #e25300);
}